<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
	<div id="chat-box">Show Chat Box</div>
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>

<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>" />


<% if(locals.user){ %>
	<script>
		var searchBox = document.getElementById("user-chat-box");
		var searchIcon = document.querySelector("#chat-box");
	  
		searchIcon.addEventListener("click", function() {
		  if (searchBox.style.display === "block") {
			searchBox.style.display = "none";
			searchIcon.innerHTML = 'Show Chat Box';
		  } else {
			searchBox.style.display = "block";
			searchIcon.innerHTML = 'Close Chat Box';
		  }
		});
	  </script>
<% } %>