<p>
	<%= comment.content %> <% if(locals.user && locals.user.id ==
	comment.user.id){ %>
	<small id="delete">
		<a href="/comments/destroy/<%= comment.id %>">Delete</a>
	</small>

	<% } %>
	<br />
	<small> <%= comment.user.name %> </small>
</p>
