
<link rel="stylesheet" href="<%= assetPath('css/footer.css') %>" />
<footer id="footer-layout">
	<p>&copy Rahul Kumar, All right reserved</p>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<% if(locals.user){ %>
			<a href="/users/profile/<%= user.id%>">Profile</a>
			<% } %>
		</li>
	</ul>
</footer>
