body{
    /* background-color: rgb(28, 148, 188); */
    /* text-align: center; */
    
}
#home-container{
    display: flex;
    min-height: 100vh;

}
#feed-posts{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delete{
    width: 70px;
    height: 20px;
    text-decoration: none;
    
    padding: 2px;
    background-color: black;
    
    
  
}
/* a:link{
    color: white !important;
    text-decoration: none;
}
a:active{
    color: white !important;
    text-decoration: none;
} */

#user-friends{
    padding: 20px;
    width: 25vw;
    border-left: 1px solid black;
}
#posts-list-container-ul{
    
    display: flex;
    flex-direction: column;

    list-style: none;
    
}

#posts-list-container{
    flex-direction: column;
    width: 70%;
}

#posts-list-container p{
    font-size: 1.4rem;
}

.post-list{
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: justify;
    color: rgb(199, 13, 13);
    
    
}
#post-user-name{
    background-color: aqua;
}


.post-comments{
    padding: 10px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(14, 120, 134);
    font-size: 1.2rem;
}

.post-comments-list{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 70%;
    text-align: justify;
    
}

.post-comments-list ul>li{
    /* width: 50%; */
    list-style: none;
    padding: 10px;
}

#user-comment{
    /* color: white; */
    background-color: rgb(224, 240, 162);
}

.delete-post-button{
    text-decoration: none;
    color: white;
}

.delete-comment-button{
    text-decoration: none;
    color: white;
}


