footer {
	height: 70px;
	background-color: grey;
	position: sticky;
	width: 100%;
	display: flex;
	align-items: center;
	bottom: 0;
	color: white;
}
#footer-layout a:link {
	/* color: white; */
	text-decoration: none;
}

#footer-layout a:active {
	text-decoration: none;
	/* color: white; */
}

p {
	margin-left: 50px;
}
footer ul {
	list-style: none;
}

footer ul a {
	color: white;
}
